body  	{margin-top:0px; margin-left:0px; background-color:black; color:yellow; font-family: mitra,Arabic Transparent,Arial,Verdana; font-size:1.8em;}
div.allpage	{padding-left:5; padding-right:5; align:justify; direction:rtl;}
p		{direction:rtl;}
h2		{direction:rtl;color:cyan;}
h3		{direction:rtl;color:green;}
h4		{direction:rtl;color:#1050A0;}
